html {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

img {
    width: 100%;
}

nav {
    display: flex;
}

p {
    text-align: justify;
    font-size: 130%
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    margin-left: auto;
}

.logo {
    width: auto;
    margin: auto;
}

.nav-ul {
    display: none;
}

.nav-ul a:hover { 
    color:cornflowerblue;
}

.container {
    flex-direction: column;
}

.infodest-container {
    margin: 8%;
}

.cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 8%;
}

.card {
    width: 30rem;
    height: auto;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 0.5rem;
    text-align: center;
    }

.desc {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 100;
    text-align: justify;
}

.museums-container {
    margin: 8%;
}

.museums-container .h2 {
        font-size: 160%;
        text-align: center;
        font-weight: 600;
    }

.museum-card {
    display: flex;
    height: auto;
    flex-direction: column;
    border-style:solid;
    border-width: thin;
    border-top-width:thick;
    padding: 0 8% 0 8%;
    margin: 0.6rem 0 0.6rem 0;
    font-weight: 400;
    font-size: 0.8rem;
}

.museum-card h2 {
    text-align: left;
    margin: 1rem 0 0 0;
    font-weight: 600;
}

.museum-card p {
    text-align: left;
    font-size: 120%;
}

.item-container {
    margin: 8%;
}

hr {
    margin: 0.7rem 70% 0 0;
}

footer {
    flex-direction: column;
    background-color: rgb(21, 153, 21);
    color: white;
    margin-top: 1.5rem;
}

footer img{
    width: 1.3rem;
}

footer p, footer ul {    
    text-align: center;
    margin:  0;
    padding: 0.4rem;
    font-size: 100%;
}

@media screen and (max-width: 320px){
    html {
        font-size: 62%;
    }

    .logo {
        width: 100%;
    }
}

@media screen and (min-width: 600px){
    .nav-ul {
        display: flex;
        flex-flow: column;
        width: 100%;
        margin: 0 0.5rem 0 0;
        padding: 0;
        justify-content: center;
        font-weight: 600;
    }

    h2 {
        font-size: 270%;
    }
    

    .infodest-museums{ 
        display: flex;
        flex-direction: row;
    }

    .infodest {
        display: block;
        width: 80%;
    }

    .cards-container {
        margin: 0 7% 0 7%;
    }

    .card{
        width: 19rem;
    }

    .museums-container {
        display: flex;
        width: 20%;
        margin: 12% 2% auto 2%;
        margin-bottom: auto;
        flex-direction: column;
        order: 2;
    }

    .museums-container .h2 {
        font-size: 140%;
        text-align: center;
        font-weight: 800;
        margin: 0;
    }

    .museum-card h2 {
        font-size: 130%;
        padding: 0 0 0 0%;

    }

    .museum-card p {
            font-size: 110%;
    }

    .things-accomm {
        display: block;
        flex-direction: column;
    }

    .item-container {
        margin: 8% 6.4% 8% 6.4%;
    }
}

@media screen and (min-width: 1024px){
    .nav-ul {
        flex-flow: row;
        justify-content: flex-end;
        margin-top: auto;
        padding-bottom: 1.8rem;
        font-size: 120%;
    }
}